<div class="main">
    <div class="container">
        <div class="title">
            Projetos
        </div>
        <div class="projects">
            <div class="projects-container">

                <div class="project" *ngFor="let item of projects">
                    <div class="description">
                        {{item.description}}
                    </div>
                    <div class="image" *ngIf="item.path != null">
                        <img [src]="item.path" alt="" srcset="">
                    </div>
                    <div class="image" *ngIf="item.path == null">
                        <div class="banner">
                            <div class="text">
                                {{item.name}}
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>