.main {
    background-color: var(--color-4);
    --itemWidth: 8em;
    --gap: 4em;


    .container {
        padding: 2em;
        position: relative;
        height: 100%;



        .projects {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: center;

            .projects-container {
                position: relative;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: 10em;
                max-width: 900px;
                width: 100%;
                gap: 2em;

                .project {
                    position: relative;
                    height: 10em;
                    width: 100%;
                    border-radius: 20px;
                    background: linear-gradient(145deg, #8fc0b1, #79a195);
                    box-shadow: 20px 20px 60px #608177,
                        -20px -20px 60px #ace5d3;
                    overflow: hidden;


                    .image {
                        position: absolute;
                        max-width: 100%;
                        max-height: 100%;
                        width: 100%;


                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 10em;
                            background-color: var(--color-5);
                        }

                        .banner {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 10em;
                            z-index: 10;

                            .text {
                                background-color: var(--color-5);
                                width: 100%;
                                text-align: center;
                                padding: 5px;
                            }
                        }
                    }

                    .description {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 0px;
                        width: 100%;
                        padding: 0px 10px;
                        backdrop-filter: blur(4px);
                        overflow: hidden;
                        transition: all 500ms ease;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 100;

                    }

                    &:hover {

                        .description {
                            z-index: 100;
                            height: 10em;
                            padding: 10px;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width : 768px) {
    .main {

        .container {

            .projects {
                .projects-container {
                    grid-template-columns: auto auto;
                }
            }

        }
    }
}

@media screen and (max-width : 481px) {
    .main {

        .container {

            .projects {
                position: relative;

                .projects-container {
                    grid-template-columns: auto;
                }
            }

        }
    }
}