.main {
    background-color: var(--color-5);
    --itemWidth: 8em;
    --gap: 4em;
    max-height: 15em;


    .container {
        position: relative;
        padding: 2em;
        min-height: 15em;
        max-height: 15em;

        .title {
            margin: 1em 0px;
        }

        .info {
            margin: 1em 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;
            user-select: text;

            .content {
                p {
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: inherit;

                    }
                }
            }

            .social-media {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    gap: 20px;

                    li {
                        display: inline;
                        cursor: pointer;
                        height: 50px;
                        width: 50px;

                        transition: all 250ms ease;


                        svg {
                            transition: all 250ms ease;

                            filter: contrast(0%) grayscale(100%);

                            .li {
                                fill: #0476a8
                            }


                            .gh {
                                fill: #3a3737;
                            }

                            .in {
                                fill: #fd5949;
                            }

                            .fb {
                                fill: #3b5998;
                            }
                        }

                        svg:hover {
                            filter: none;
                            transform: scale(1.25);
                        }

                        img {}
                    }
                }
            }
        }
    }
}


@media screen and (max-width : 800px) {
    .main {

        max-height: 100%;

        .container {

            max-height: 20em;

            .info {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                gap: 20px;

                .content {
                    p {
                        margin: 0;

                        text-align: center;
                    }
                }
            }
        }
    }

}

@media screen and (max-width : 480px) {
    .main {

        max-height: 100%;

        .container {

            max-height: 22em;

            .info {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                gap: 20px;

                .content {
                    p {
                        margin: 0;

                        text-align: center;
                    }
                }
            }
        }
    }

}