<nav class="menuFull" *ngIf="isFullMenu" [@inOutAnimation]>
    <ul>
        <li>
            <a i18n href="#first">Home</a>
        </li>
        <li>
            <a i18n href="#about">About me</a>
        </li>
        <li>
            <a i18n href="#projects">Projects</a>
        </li>
        <li>
            <a i18n href="#contact">Contact</a>
        </li>
    </ul>

</nav>

<nav class="menuComp" *ngIf="!isFullMenu" [@inOutAnimation]>
    <a class="menu" (click)="clickMenu()">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 24.5H42" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8 13H42M8 36H42" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </a>
    <ul [@toggleClick]="menuOpen">
        <li (click)="clickMenu()">
            <a i18n href="#first">Home</a>
        </li>
        <li (click)="clickMenu()">
            <a i18n href="#about">About me</a>
        </li>
        <li (click)="clickMenu()">
            <a i18n href="#projects">Projects</a>
        </li>
        <li (click)="clickMenu()">
            <a i18n href="#contact">Contact</a>
        </li>
    </ul>

</nav>