.menuFull {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(4px);
    top: 0;
    z-index: 999;


    a {
        cursor: pointer;


    }

    .menu {
        display: none;
    }

    ul {
        z-index: 100;
        display: flex;
        list-style: none;
        gap: 50px;
        font-size: 28px;
        margin: 0 auto;
        justify-content: flex-end;
        align-items: center;
        height: 3.5em;
        padding: 0em 2em;
        max-width: 1200px;
        transition: height 500ms ease;

        li {
            display: inline;
            text-align: center;
            flex: 0 0 auto;
            transition: all 250ms ease;


            &:hover {
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

}

.menuComp {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(4px);
    top: 0;
    z-index: 999;


    a {
        cursor: pointer;
        user-select: none;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        height: 6em;
        align-items: center;
    }

    ul {
        z-index: 100;
        display: flex;
        list-style: none;
        gap: .5em;
        font-size: 28px;
        flex-direction: column;
        margin: 0 auto;
        justify-content: flex-end;
        align-items: center;
        max-width: 1200px;
        transition: height 500ms linear;
        overflow: hidden;
        padding: 0px;

        li {
            display: inline;
            text-align: center;
            flex: 0 0 auto;
            padding: .5em;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}