<div class="main">
    <div class="container">
        <div class="greetings">
            <p class="first" i18n>
                Olá, eu sou
            </p>
            <p class="name">
                Alexandre Pansan Junior
            </p>
            <p class="title" i18n>
                Desenvolvedor Front-End
            </p>
        </div>
        <div class="side">
            <div class="neomorph-square">

            </div>

            <img src="assets/me.PNG" class="picture" alt="alexandre pansan">

        </div>
    </div>
</div>