<div class="main">
    <div class="container">
        <div class="greetings">
            <p class="first">
                Hello there, I'm
            </p>
            <p class="name">
                Alexandre Pansan Junior
            </p>
            <p class="title">
                Front-End Developer
            </p>
        </div>
        <div class="side">
            <div class="neomorph-square">

            </div>

            <img src="assets/me.PNG" class="picture" alt="alexandre pansan">

        </div>
    </div>
</div>