@keyframes scroll {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(-70%)
    }
}


.main {
    background-color: var(--color-1);
    --itemWidth: 8em;
    --gap: 4em;
    min-height: 100%;
    height: 100%;
    overflow: hidden;

    .container {
        padding: 4em;
        height: 100%;


        .description {
            text-align: center;
            font-size: 1.5em;
            margin: 3em 0px;
        }

        .tip {
            text-align: center;
            color: #cdcdcd;
        }
    }

    .skills {
        padding: 4em;
        flex-direction: row;
        position: relative;
        margin: 3em 0px;


        .skills-track {
            animation: scroll 20s linear infinite;
            display: flex;
            gap: var(--gap);
            width: calc((var(--gap) + var(--itemWidth)) * 16);

            &:hover {

                animation-play-state: paused;

            }
        }



        .skill {
            flex: 0 0 var(--itemWidth);
            position: relative;
            width: var(--itemWidth);
            height: 5em;
            border-radius: 20px;
            background: linear-gradient(145deg, #ffffff, #e6e6e6);
            box-shadow: 27px 27px 54px #8a8a8a,
                -27px -27px 54px #ffffff;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) scale(1);
                height: 50px;
                opacity: 1;
                transition: transform 500ms, opacity 500ms;

            }

            .desc {
                position: relative;
                border-radius: 20px;
                background: linear-gradient(145deg, #ffffff, #e6e6e6);
                box-shadow: 27px 27px 54px #8a8a8a,
                    -27px -27px 54px #ffffff;
                padding: 1em;
                opacity: 0;
                left: 50%;
                top: 50%;
                height: 200px;
                width: 400px;
                transform: translateX(-50%) translateY(-50%) scale(0);
                background-color: var(--color-5);
                transition: transform 500ms, opacity 500ms;
                z-index: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            &:hover {
                img {
                    transform: translateX(-40%) translateY(-40%) scale(2);
                    opacity: 0;
                }


                .desc {
                    z-index: 1;
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1);


                }

            }
        }
    }
}