<div class="main">
    <div class="container">
        <p class="title" i18n>
            About me
        </p>
        <div class="description" i18n>
            I'm a Computer Engineering and discovered my passion for web development, utilizing HTML, CSS,
            JS, and frameworks such as ReactJS, Angular, and VueJS. I also have experience in developing back-end
            applications using Node.js and Java Spring Boot.
        </div>
        <p class="tip">
            /* Hover over to view more about */
        </p>
        <div class="skills">
            <div class="skills-track">
                <div class="skill" *ngFor="let skill of skills">
                    <img [src]="skill.path" [alt]="skill.description">
                    <div class="desc">
                        {{skill.description}}
                    </div>
                </div>
                <div class="skill" *ngFor="let skill of skills">
                    <img [src]="skill.path" [alt]="skill.description">
                    <div class="desc">
                        {{skill.description}}
                    </div>
                </div>
                <div class="skill" *ngFor="let skill of skills">
                    <img [src]="skill.path" [alt]="skill.description">
                    <div class="desc">
                        {{skill.description}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>