/* You can add global styles to this file, and also import other style files */
:root {
    font-family: ruda;
    --color-1: #B39E98;
    --color-2: #FFFFFF;
    --color-3: #FFF5F2;
    --color-4: #86B3A5;
    --color-5: #F2FFFB;
    --blue: #254E70;
    --black: #000;
}

html,
body {
    inset: 0px;
    margin: 0px;
    background-color: var(--color-3);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}